<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="">
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="guide">
                <li class="active"><a href="#">customer</a></li>
                <li><a href="#">supplier</a></li>
                <li><a href="#">product</a></li>
                <li><a href="#">order</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="content">
    <iframe src="customer.html"></iframe>
</div>

<script src="lib/vue.js"></script>
<script src="lib/axios.js"></script>
<script src="lib/jquery.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>